.block .sf-menu.sf-style-blog {
  float: left;
  margin: 0;
  padding: 0;
}

.block .sf-menu.sf-style-blog ul {
  padding-left: 0;
}

.block .sf-menu.sf-style-blog li {
  border-bottom: none;
  padding: 0 2px;
}

.block .sf-menu.sf-style-blog a {
  background: none;
  border-bottom: 1px solid #eee;
  color: #333;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.2em;
  padding: 13px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

/* "Have child" Item */
.block .sf-menu.sf-style-blog li.menuparent {
}

.block .sf-menu.sf-style-blog a.menuparent {
}

/* Child Menu */
.block .sf-menu.sf-style-blog ul {
}

.block .sf-menu.sf-style-blog ul li {
  color: #666;
}

/* Hover Links */
.block .sf-menu.sf-style-blog li:hover,
.block .sf-menu.sf-style-blog li.sfHover {
}

.block .sf-menu.sf-style-blog a:hover,
.block .sf-menu.sf-style-blog a:focus,
.block .sf-menu.sf-style-blog a:active {
  border-bottom: 1px solid #999;
  color: #333;
}

/* Child Menu Items Hover */
.block .sf-menu.sf-style-blog ul li:hover,
.block .sf-menu.sf-style-blog ul li.sfHover,
.block .sf-menu.sf-style-blog ul li a:focus,
.block .sf-menu.sf-style-blog ul li a:hover,
.block .sf-menu.sf-style-blog ul li a:active {
  color: #333;
}

/* Active Links */
.block .sf-menu.sf-style-blog li.active-trail a.menuparent {
  color: #f3686d;
}

.block .sf-menu.sf-style-blog a.active {
  border-bottom: 1px solid #f3686d;
  color: #f3686d;
}

/* Child Menu Items Active */
.block .sf-menu.sf-style-blog ul li a.active {
  color: #f3686d;
}

/* Navbar */
.block .sf-menu.sf-style-blog.sf-navbar {
  width: 100%;
}

/* Child Menu */
.block .sf-menu.sf-style-blog.sf-navbar li ul {
  top: 4.5em;
}

.block .sf-menu.sf-style-blog.sf-navbar li ul li {
  padding: 0 10px;
}

.block .sf-menu.sf-style-blog.sf-navbar li ul li a {
  border: 0;
  font-weight: normal;
  padding: 3px 6px;
  text-transform: none;
}

.block .sf-menu.sf-style-blog.sf-navbar li ul li a:hover,
.block .sf-menu.sf-style-blog.sf-navbar li ul li a:focus,
.block .sf-menu.sf-style-blog.sf-navbar li ul li a:active {
  color: #f3686d;
}

/* Horizontal style */
.block .sf-menu.sf-style-blog.sf-horizontal li ul {
  -webkit-border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
  background: #fff;
  border: 1px solid #eee;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #fff;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
  margin-top: 10px !important;
}

.block .sf-menu.sf-style-blog.sf-horizontal a:hover,
.block .sf-menu.sf-style-blog.sf-horizontal a:focus,
.block .sf-menu.sf-style-blog.sf-horizontal a:active {
  background: none;
  border: 0;
  color: #f3686d;
}

.block .sf-menu.sf-style-blog.sf-horizontal li ul li a {
  padding-bottom: 8px;
  padding-top: 8px;
  text-transform: none;
}

.block .sf-menu.sf-style-blog.sf-horizontal li ul li a:hover,
.block .sf-menu.sf-style-blog.sf-horizontal li ul li a:focus,
.block .sf-menu.sf-style-blog.sf-horizontal li ul li a:active {
  background: #fcfcfc;
  border-bottom: 1px dotted #eee;
  color: #f3686d;
}

.block .sf-menu.sf-style-blog.sf-horizontal li ul li a.active {
  border-bottom: 1px solid #eee;
}

/* MegaMenu */
.block .sf-menu.sf-style-blog span.sf-description {
  color: #13a;
  display: block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 5px 0 0 5px;
  padding: 0;
}

.block .sf-menu.sf-style-blog a.sf-with-ul {
  padding-right: 2.25em;
}

.block .sf-menu.sf-style-blog.rtl a.sf-with-ul {
  padding-left: 2.25em; /* RTL */
  padding-right: 1em;
}

.block .sf-menu.sf-style-blog ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
  width: 12em;
}

.block .sf-menu.sf-style-blog.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right; /* RTL */
}

.block .sf-menu.sf-style-blog ul.sf-megamenu li.sf-megamenu-wrapper ol,
.block .sf-menu.sf-style-blog ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}

.block .sf-menu.sf-style-blog li.sf-parent-children-1 ul.sf-megamenu {
  width: 12em;
}

.block .sf-menu.sf-style-blog li.sf-parent-children-10 ul.sf-megamenu {
  width: 120em;
}

.block .sf-menu.sf-style-blog li.sf-parent-children-2 ul.sf-megamenu {
  width: 24em;
}

.block .sf-menu.sf-style-blog li.sf-parent-children-3 ul.sf-megamenu {
  width: 36em;
}

.block .sf-menu.sf-style-blog li.sf-parent-children-4 ul.sf-megamenu {
  width: 48em;
}

.block .sf-menu.sf-style-blog li.sf-parent-children-5 ul.sf-megamenu {
  width: 60em;
}

.block .sf-menu.sf-style-blog li.sf-parent-children-6 ul.sf-megamenu {
  width: 72em;
}

.block .sf-menu.sf-style-blog li.sf-parent-children-7 ul.sf-megamenu {
  width: 84em;
}

.block .sf-menu.sf-style-blog li.sf-parent-children-8 ul.sf-megamenu {
  width: 96em;
}

.block .sf-menu.sf-style-blog li.sf-parent-children-9 ul.sf-megamenu {
  width: 108em;
}
